<h1> Welcome to your birthday countdown! </h1>
<h2> Please enter your details below </h2>



<div><form action="/" method="post"> 
  <input type="text" name="username">
  <input type="date" name="birthday">
  <input type="submit" value="submit">
</form></div>